//$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "appTaskBoardVariables";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";


// endbower

html,body,#wrapper{
  height: 100%;
}
#wrapper-container{
  background: #0079BF no-repeat 0 0 fixed;
  min-height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;

}


#main {

  input {
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 2em;
    width: 85%;
    &:disabled {
      border: none;
      background-color: transparent;
      font-weight: bold;
      font-size: 2em;
      width: 85%;
    }
  }
  .well{
    input {
      border: none;
      background-color: transparent;
      font-size: 1em;
      width: 75%;
      &:disabled {
        border: none;
        background-color: transparent;
        font-size: 1em;
        width: 75%;
      }
    }
  }
}
.panel-body,#main{
  ul{
    padding-left: 0;
    li{
      list-style-type: none;
    }
  }
}
