//$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "appTaskBoardVariables";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";


// endbower

html,body,#wrapper{
  height: 100%;
}
#wrapper-container{
  min-height: 100%;
  padding-bottom: 20px;
}
#footer{
  margin-top: -20px;
}
#wrapper {

  background-color: #0079BF;

  padding: 40px;
}
#main {

  input {
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 2em;
    width: 85%;
    &:disabled {
      border: none;
      background-color: transparent;
      font-weight: bold;
      font-size: 2em;
      width: 85%;
    }
  }
  .well{
    input {
      border: none;
      background-color: transparent;
      font-size: 1em;
      width: 75%;
      &:disabled {
        border: none;
        background-color: transparent;
        font-size: 1em;
        width: 75%;
      }
    }
  }
}
